@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Mulish:wght@200&family=Oxygen:wght@300;400;700&display=swap");
header {
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  header .titulo {
    font-family: "Oxygen";
    font-size: 30px;
    color: #30343f; }
  header nav .letra {
    font-size: 20px;
    font-family: "Oxygen";
    border-right: 1px solid;
    color: #f71735; }
    header nav .letra:hover {
      color: #30343f; }

/*mediaqueries*/
@media screen and (max-width: 768px) {
  .titulo {
    font-size: 20px; }
  nav .letra {
    font-size: 12px; } }

main {
  padding: 20px;
  display: flex;
  justify-items: center;
  background-color: #ed60739e;
  /*Estilo en las cards*/
  /*Tipos de Letra*/ }
  main .esilo-contenedor {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center; }
  main .marcas {
    padding: 20px;
    margin: 10px; }
  main .fondo-estilo {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); }
    main .fondo-estilo .col-3 {
      display: flex; }
  main .card-estilo {
    background-color: rgba(255, 255, 255, 0.406);
    display: flex;
    box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.204);
    -webkit-box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 10px 8px 19px -7px rgba(0, 0, 0, 0.58);
    flex-direction: column;
    margin: 20px;
    padding: 10px;
    transition: all 1s ease;
    color: #30343f; }
    main .card-estilo:hover {
      transition: all 1s ease;
      transform: scale(1.1); }
    main .card-estilo .estilo-boton {
      background: #ff6b7f;
      color: #30343f;
      border: #f71735 2px;
      transition: all 1s ease; }
      main .card-estilo .estilo-boton:hover {
        transition: all 1s ease;
        background: #30343f;
        color: white; }
  main .enlinea {
    margin-top: 20px;
    display: flex;
    justify-content: center; }
  main .listita {
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
    color: #30343f; }
  main .btn-primary {
    background: #ff6b7f;
    color: #30343f;
    border: #f71735 2px;
    transition: all 1s ease;
    border: rgba(255, 255, 255, 0.57) 1px solid; }
    main .btn-primary:hover {
      transition: all 1s ease;
      background: #30343f;
      color: white; }
  main .marcas {
    padding: 20px;
    margin: 10px; }
  main .estilo-volver {
    font-family: "Oxygen";
    background: #fa6e83;
    box-shadow: 8px 8px 28px -8px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 8px 8px 28px -8px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 8px 8px 28px -8px rgba(0, 0, 0, 0.61);
    color: #30343f;
    text-transform: uppercase;
    border: #ff0022 1px solid;
    transition: all 1s ease; }
    main .estilo-volver:hover {
      transition: all 1s ease;
      background: #30343f;
      color: white; }
  main .estilo-servicio {
    display: flex;
    justify-content: space-around; }
  main .texto-estilo {
    display: flex;
    justify-content: flex-start; }
  main .titulo-estilo {
    font-family: "Oxygen";
    font-size: 30px;
    text-transform: uppercase; }
  main .subtitulo-estilo {
    font-family: "Oxygen";
    font-weight: bolder;
    font-size: #30343f;
    font-size: 20px; }
  main .parrafo-estilo {
    font-family: "Oxygen";
    font-size: 20px; }
  main .efecto-img {
    transition: all 1s ease; }
    main .efecto-img:hover {
      transition: all 1s ease;
      filter: grayscale(1);
      transform: scale(1.01); }

/*mediaqueries*/
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap; }
  .col-3 {
    flex-direction: column; }
  footer .row {
    flex-direction: column;
    display: flex;
    justify-content: center; }
  .marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }

body {
  background: #9aaacb;
  background: linear-gradient(90deg, #9aaacb 0%, #ffb7c0 50%, #9aaacb 100%); }

footer {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: "Oxygen"; }
  footer .subtitulo-estilo {
    font-family: "Oxygen";
    font-size: #30343f;
    font-size: 20px; }
  footer .logo-red {
    width: 60px;
    height: auto; }
  footer .ubicacion {
    width: 200px;
    height: auto; }
