header{
   padding:10px;
   background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );


   .titulo{
      font-family: $letra_principal;
      font-size: 25px;
      color: map-get($color, color-base1);
   }

   nav{
      .letra{
      font-size: 15px;
      font-family: $letra_principal;
      border-right: 1px solid;
      color:map-get($color, color-base2);
      &:hover{
      color: map-get($color, color-base1);}
   }

   }
  

}