
main{
    
    padding: 10px;
    display: flex;
    justify-items:center;
    background-color: #A7ACCA;


    .alinear{
        width: 700px;
        height: auto;
    }

    .posicion{
        display: flex;
        justify-items: center;
        align-items: center;
        overflow:hidden;
        position: relative;
    }

    .posletra{
        border-radius: 30px;
        font-size:map-get($tamlet, medio);
        background-color: #30343f2b;
        padding: 20px;
        position: absolute;
        
      
    }

    
    .imagen_portada{
            width: 100%;
            display: flex;
        
        }


   
    .card{
        background-color:rgba(255, 255, 255, 0.167);
        display: flex;
        width: 200px;
        border-radius: 8px;
        box-shadow: 10px 8px 19px -7px rgba(0,0,0,0.58);
        -webkit-box-shadow: 10px 8px 19px -7px rgba(0,0,0,0.58);
        -moz-box-shadow: 10px 8px 19px -7px rgba(0,0,0,0.58); 
       flex-direction: column;
        align-items: center;
        margin: 10px;
        transition: all 1s ease;
        
        .img2 {
           display: flex;
           width:100px;
           height:auto;
           object-fit:cover;
           margin:10px;}
  
       .card a{
        background: #ff8292;
        color:white;
        padding:8px 20px;
        border-radius:4px;
        margin-top:10px;}
  
     
        .card-container{
           display: flex;
           flex-direction:row;
           justify-content: space-around;
           align-items:center;
           margin: 30px;
           padding: 0px 10px;
  
           .card:hover{
              transition: all 1s ease;
              transform: scale(1.2);
              }
                
       }
    }
  
   
    .enlinea{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        
    
    }
    
    .listita{
        list-style-type: none;
        padding: 5px;
        text-decoration: none;
        color: #30343f; 
    
    }
    




}
