@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Comfortaa:wght@300;400;500;600;700 & family= Mulish:wght@200 & familia= Oxígeno:peso@300;400;700 & mostrar=cambiar");
header {
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  header .titulo {
    font-family: "Oxygen";
    font-size: 25px;
    color: #30343f; }
  header nav .letra {
    font-family: "Oxygen";
    color: #30343f; }
    header nav .letra:hover {
      color: #f71735; }

body {
  background: #9aaacb;
  background: linear-gradient(90deg, #9aaacb 0%, #ffb7c0 50%, #9aaacb 100%); }

main {
  margin: 50px;
  padding: 25px;
  background: #9aaacb;
  background: linear-gradient(90deg, #9aaacb 0%, #ffb7c0 50%, #9aaacb 100%); }

footer {
  padding: 25px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); }
  footer .container {
    padding: 20px;
    display: flex;
    justify-items: center;
    display: block; }
  footer .logo-red {
    width: 60px;
    height: auto; }
  footer .ubicacion {
    width: 200px;
    height: auto; }
